{{ define "main" }}
<div class="homepage">


<section>
  <div class="site-container-1600">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Bitcoin Price and Hash</h1>
      </div>
      <div class="col-12" id="price-and-hash-content">



      </div>
    </div>
  </div>
</section>





  <script type="text/javascript">
    setTimeout(() => {
        $(() =>{
          //ready
          console.log('data is loading.')
          const JSONDATA  = {{ $.Site.Data.priceAndHash.data }}

          $.ajax({
            url: 'https://api.blockchain.info/stats',
            success: data => {

              JSONDATA.push({
                price: data.market_price_usd,
                hash_rate: data.hash_rate
              })

              console.log(JSONDATA)

              $('#price-and-hash-content').append(`
              <div class="row" >
                <div class="col-2">
                  <p>${data.market_price_usd}</p>
                </div>
                <div class="col">
                  <p>${data.hash_rate}</p>
                </div>
              </div>`
              )
            }
          })

        } )
      }, 500)
  </script>



</div>
{{ end }}
